body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;

}

menu {
    background: rgba(229, 84, 115, 0.10);
    margin: 0px;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;


}

.content-headerr {
    color: #272727;

    font-size: 80px;

    font-weight: 800;
    width: 708px;
    margin-bottom: 0px;

}

.btn {
    border: none;
    padding: 20px 43px;
    box-shadow: 2px 2px 10px black;
    background: #E55473;
    color: #FFF;

    font-size: 20px;

    font-weight: 700;


}

.btn:hover {
    background-color: rgb(240, 47, 47);
    box-shadow: 5px 5px 10px black;
}

.menu-description {
    max-width: 634px;
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;

    font-weight: 400;


}

/*menu end*/

.content-header {
    color: #272727;
    text-align: center;

    font-size: 40px;

    font-weight: 800;

}

.product-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;
    width: 594px;
}

.product-imgs {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.product-img-div {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    background-image: url('Flower Asset/pngwing\ 5.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.two {
    background: rgba(71, 125, 17, 0.15);


    background-image: url('Flower Asset/pngwing\ 7.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.three {
    background: rgba(167, 33, 98, 0.15);


    background-image: url('Flower Asset/pngwing\ 6.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.img-name {
    color: #272727;
    text-align: center;

    font-size: 24px;

    font-weight: 700;

    text-decoration-line: underline;
}

.serve {
    width: 1300px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.serve-img {
    padding-top: 86px;
}

.serve-item {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;

    font-size: 20px;


    line-height: 35px;
    padding-bottom: 30px;
}

.sell {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pic {
    display: flex;
    justify-content: center;
    gap: 24px;
}